@font-face {
  font-family: "Weater";
  src: url("fonts/owfont-regular.woff");
  font-style: normal;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Quicksand', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 2.5s;
}

div {
  opacity: 0.8;
  font-size: 25px;
}

.time {
  font-size: 150px;
}

.name-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.greeting, .name {
  font-size: 40px;
}

.focus-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.focus-text {
  font-size: 30px;
  margin-bottom: 15px;
}

.name, .city, .focus {
  min-width: 20px;
  max-width: 75vw;
}

.quote-block {
  position: absolute;
  bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 65vw;
}

.refreshQuote {
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-left: 10px;
  background-color: rgba(0,0,0,0);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://image.flaticon.com/icons/png/512/61/61444.png');
  filter: invert(1);
  outline: none;
  transition: .2s;
}

.refreshQuote, .quote {
  opacity: .7;
}

.refreshQuote:hover {
  opacity: 1;
}

.scrollImg {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: black;
  outline: none;
  transition: .2s;
  color: white;
  opacity: .7;
}

.scrollImg:hover {
  opacity: 1;
}

.forecast {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

@media (max-width: 700px) {
  .time {
    font-size: 75px;
  }
  .greeting, .name {
    font-size: 25px;
  }
  .focus-text {
    font-size: 21.5px;
  }
  .focus, .date, .quote, .scrollImg{
    font-size: 20px;
  }
  .name-block {
    margin-bottom: 25px;
  }
  .scrollImg {
    background-color: rgba(0,0,0,0);
    top: 15px;
    bottom: auto;
    right: 15px;
    width: auto;
    height: auto;
    border-radius: 0;
  }
}
